{% extends "flatpages/default.html" %}

{% comment %} Заголовок {% endcomment %}
{% block title %}
{{flatpage.title}}
{% endblock title%}
{% load static %}


{% comment %} Главная надпись по середине {% endcomment %}
{% block main_row %}
SECRET
{% endblock main_row %}

{% comment %} Надпись поменьше по середине {% endcomment %}
{% block small_row %}
Необходимый по заданию повторяющийся два раза контент. 1-й раз:{{flatpage.content}}
{% endblock small_row %}
{% block onemore_row %}
Необходимый по заданию повторяющийся два раза контент. 2-й раз:{{flatpage.content}}
{% endblock onemore_row %}


{% block fst_img %}{% endblock fst_img %}
{% block fst_img_src %}<img src="{% static 'assets/img/bg-masthead.jpg' %}" class="img-fluid mb-3 mb-lg-0"  alt="..." />{% endblock fst_img_src %}
{% block fst_img_disc %}{% endblock fst_img_disc %}
{% block sec_img %}{% endblock sec_img %}
{% block sec_img_src %}<img class="img-fluid" src="{% static 'assets/img/demo-image-01.jpg' %}" alt="..." />{% endblock sec_img_src %}
{% block sec_img_disc %}{% endblock sec_img_disc %}